// out: "index.css"
@color_normal: whitesmoke;
@color_icon: whitesmoke;
@color_ignore: gray;
@color_hightlight: orange;
@color_red: red;
@color_transparent: transparent;
@background_page: #202123;
@background_user: #343541;
@background_input: #40414F;
@background_response: #444654;
@background_active: #555;
@background-selection: #999;
@input_height: 60px;
@input_margin: 10px;
@status_height: 30px;
@inputContainer_height: (2*@input_margin + @input_height);

body {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

::selection {
  background-color: @background-selection
}

/* For Mozilla Firefox */
::-moz-selection {
  background-color: @background-selection
}

#chatgpt-main {
  position: relative;
  height: calc(100vh - @inputContainer_height);
  width: 100%;
}

.chatgpt-panel {
  // display: flex; // enable flexbox for the parent
  align-items: center; // vertically center child elements
}

#chatgpt-filter {
  display: inline-block;
  margin: auto;
}

#chatgpt-status {
  height: @status_height;
  background-color: @background_page;
  color: @color_normal;
  padding: 5px;
  display: inline-block;
}

#chatgpt-session-toolbar {
  float: right;
  //垂直居中
  margin: auto; // horizontally center the child element within its container
}

#chatgpt-responsenumber {
  color: @color_normal;
  /* 设置文字颜色 */
  background-color: @background_page;
  /* 设置背景色 */
  border: @color_normal;
  // border: 0;
  border-left: 2px;
  /* 去掉边框 */
  outline: none;
  /* 去掉默认轮廓样式 */
  padding: 5px;
  /* 设置填充空间 */
  font-size: 16px;
  /* 设置字体大小 */
  width: 50px;
  /* 设置宽度 */
  height: @status_height;
  -webkit-appearance: none;
  /* 去掉默认样式（仅适用于 Safari）*/
  -moz-appearance: none;
  appearance: none;
  // height: 100%;
  text-align: right;
}


#chatgpt-session {
  max-height: calc(100vh - (2*@inputContainer_height + @status_height));
  overflow-y: auto;
  box-sizing: border-box;
}

.bottom {
  height: @inputContainer_height;
}

.chatgpt-inputcontainer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: @background_user;
  box-sizing: border-box;
}

#chatgpt-systemcontainer {
  top: 0;
  position: relative;
}

.chatgpt-textare {
  box-sizing: border-box;
  border: none;
  border-radius: 2.5px;
  font-size: 14px;
  color: @color_normal;
  background-color: @background_input;
}

.chatgpt-input {
  .chatgpt-textare();
  width: calc(100% - 100px);
  padding: 10px 5px;
  margin: @input_margin;
  height: @input_height;
}

.chatgpt-button {
  color: @color_normal;
  background-color: @color_transparent;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  border: 0px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.chatgpt-conversation {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  /* 使用flex布局 */
}

.d-none {
  display: none;
}

.chatgpt-box {
  flex-grow: 1;
  padding: 12px;
  display: flex;
}

.chatgpt-toolbar {
  li {
    display: list-item;
    text-align: center;
  }

  .chatgpt-button {
    width: 16px;
    height: 16px;
  }
}

.chatgpt-user {
  background-color: @background_user;
  color: @color_hightlight;
}

.chatgpt-error {
  background-color: @background_response;
  color: @color_red;
}

.chatgpt-assistant {
  background-color: @background_response;
  color: @color_normal;
}

.chatgpt-message {
  margin: 0;
  margin-left: 20px;
}

.mediumicon {
  width: 28px;
  height: 28px;
  fill: @color_icon;
  margin: 10px;
}

.smallicon {
  width: 15px;
  height: 15px;
  fill: @color_icon;
}

.main {
  background-color: @background_page;
  padding: 0px;
}

.sidebar {
  background-color: @background_page;
  color: @color_normal;
  height: calc(100vh);
}

#sesion-toolbar {
  text-align: right;
  padding: 5px 0;
  border: @color_normal;
  border-bottom: 1px solid;
  border-top: 1px solid;
  height: 30px;
}

.session-list {
  padding-inline-start: 0;
  overflow-y: auto;
  height: calc(100vh - (2*@inputContainer_height + @status_height));
  background-color: @background_user;
}

.logo {
  height: 80px;
}

.session-item {
  padding: 5px;
  display: flex;
  border-bottom: 1px solid @color_normal;

  .overflow-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title {
    font-size: medium;
    color: @color_hightlight;
    cursor: pointer;
    .overflow-ellipsis();
  }

  .preview {
    font-size: x-small;
    .overflow-ellipsis();
    -webkit-line-clamp: 2;
  }

  .time {
    font-size: x-small;
    color: @color_ignore;
    .overflow-ellipsis();
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: @background_user;
}

::-webkit-scrollbar-thumb {
  background-color: @background_active;
}

.deleteicon {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg t='1678034896798' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='2482' fill='whitesmoke'><path d='M341.312 85.312l64-85.312h213.376l64 85.312H960v85.376H64V85.312h277.312zM170.688 256h682.624v768H170.688V256z m298.624 170.688H384v426.624h85.312V426.688z m170.688 0H554.688v426.624H640V426.688z' p-id='2483'></path></svg>");
}

.addicon {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg t='1678159607972' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='2759' fill='whitesmoke'><path d='M512 936.915619c-234.672764 0-424.915619-190.243879-424.915619-424.915619S277.327236 87.083357 512 87.083357c234.676857 0 424.916643 190.243879 424.916643 424.915619S746.676857 936.915619 512 936.915619zM724.45781 469.50414 554.491767 469.50414 554.491767 299.546284l-84.983533 0 0 169.957857L299.54219 469.50414l0 84.99172 169.966043 0 0 169.966043 84.983533 0L554.491767 554.49586l169.966043 0L724.45781 469.50414z' p-id='2760'></path></svg>");
}

.exporticon {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg t='1678159770025' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='3869' fill='whitesmoke'><path d='M800.221 752.132c0 79.544-64.535 144.079-144.079 144.079L239.913 896.211c-79.543 0-144.079-64.535-144.079-144.079L95.834 335.903c0-79.544 64.536-144.079 144.079-144.079l127.57 0c8.505 0 16.009 7.004 16.009 16.009 0 8.004-5.503 14.508-13.007 16.009-25.014 8.505-47.526 18.51-66.537 30.017-2.501 1-5.003 2.001-8.004 2.001l-56.031 0c-44.024 0-80.044 36.02-80.044 80.044l0 416.229c0 44.024 36.02 80.044 80.044 80.044l416.229 0c44.024 0 80.044-36.02 80.044-80.044L736.186 645.073c0-6.004 3.502-11.507 9.005-14.508 10.006-4.503 19.011-11.007 27.015-18.511 4.503-4.502 11.507-6.503 17.51-4.002 6.004 2.501 10.506 8.004 10.506 14.508L800.222 752.132zM726.681 566.53c-6.004 6.503-14.008 9.505-22.513 9.505-4.002 0-8.505-1.001-12.507-2.501-11.507-5.003-19.511-16.509-19.511-29.517l0-96.053-80.044 0c-110.061 0-180.099 21.012-219.12 65.536-40.522 46.525-52.529 121.566-37.021 236.63 1 7.004-3.502 14.008-10.005 17.009-2.001 0.501-4.002 1.001-6.003 1.001-5.003 0-10.005-2.501-13.007-6.504-3.502-5.002-83.045-117.564-83.045-217.619 0-134.074 42.023-288.158 368.202-288.158l80.044 0 0-96.053c0-13.007 8.004-24.514 19.511-29.516 4.002-1.501 8.505-2.501 12.507-2.501 8.505 0 16.509 3.502 22.513 9.505L918.786 329.4c12.507 12.507 12.507 32.518 0 45.024L726.681 566.53z' p-id='3870'></path></svg>");
}

.importicon {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg t='1678159859429' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='7367' fill='whitesmoke'><path d='M853.333333 597.333333V341.333333l-256-256H256a85.333333 85.333333 0 0 0-85.333333 85.333334v682.666666a85.333333 85.333333 0 0 0 85.333333 85.333334h512a85.333333 85.333333 0 0 0 85.333333-85.333334v-170.666666h-298.666666v128l-213.333334-170.666667 213.333334-170.666667v128h298.666666zM554.666667 170.666667l213.333333 213.333333h-213.333333V170.666667z' p-id='7368'></path></svg>");
}

.editicon {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg t='1678094325195' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='2753' fill='whitesmoke'><path d='M880 836H144c-17.7 0-32 14.3-32 32v36c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-36c0-17.7-14.3-32-32-32zM257.7 752c2 0 4-0.2 6-0.5L431.9 722c2-0.4 3.9-1.3 5.3-2.8l423.9-423.9c3.9-3.9 3.9-10.2 0-14.1L694.9 114.9c-1.9-1.9-4.4-2.9-7.1-2.9s-5.2 1-7.1 2.9L256.8 538.8c-1.5 1.5-2.4 3.3-2.8 5.3l-29.5 168.2c-1.9 11.1 1.5 21.9 9.4 29.8 6.6 6.4 14.9 9.9 23.8 9.9z' p-id='2754'></path></svg>");
}

.saveicon {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg t='1678094530828' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='3725' fill='whitesmoke'><path d='M426.666667 725.333333h170.666666v170.666667h-170.666666z' p-id='3726'></path><path d='M858.453333 371.626667l-206.08-206.08A128 128 0 0 0 561.92 128H426.666667v256h213.333333a42.666667 42.666667 0 0 1 0 85.333333H384a42.666667 42.666667 0 0 1-42.666667-42.666666V128H256a128 128 0 0 0-128 128v512a128 128 0 0 0 128 128h85.333333v-170.666667a85.333333 85.333333 0 0 1 85.333334-85.333333h170.666666a85.333333 85.333333 0 0 1 85.333334 85.333333v170.666667h85.333333a128 128 0 0 0 128-128v-305.92a128 128 0 0 0-37.546667-90.453333z' p-id='3727'></path></svg>");
}

.sendicon {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg t='1678029171750' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='2686' fill='whitesmoke'><path d='M896 167.253333l-256 714.666667a21.333333 21.333333 0 0 1-20.053333 14.08h-6.826667a21.76 21.76 0 0 1-19.626667-12.373333l-100.693333-213.333334a85.333333 85.333333 0 0 1 14.506667-94.293333l128-139.946667a21.333333 21.333333 0 0 0 0-29.44l-16.213334-16.213333a21.333333 21.333333 0 0 0-29.44 0l-139.946666 128a85.333333 85.333333 0 0 1-94.293334 14.506667l-213.333333-100.693334A21.76 21.76 0 0 1 128 412.586667v-6.826667A21.333333 21.333333 0 0 1 142.08 384l714.666667-256a21.333333 21.333333 0 0 1 22.186666 4.693333l11.093334 11.093334a21.333333 21.333333 0 0 1 5.973333 23.466666z' p-id='2687'></path></svg>");
}

.clearicon {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg t='1678029235750' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='3679' fill='whitesmoke'> <path d='M824.4 438.8c0-37.6-30-67.6-67.6-67.6l-135.2 0L621.6 104.8c0-37.6-30-67.6-67.6-67.6-37.6 0-67.6 30-67.6 67.6l0 266.4L358.8 371.2c-37.6 0-67.6 30-67.6 67.6l0 67.6L828 506.4l0-67.6L824.4 438.8 824.4 438.8zM824.4 574c-11.2 0-536.8 0-536.8 0S250 972 88.4 972L280 972c75.2 0 108.8-217.6 108.8-217.6s33.6 195.2 3.6 217.6l105.2 0c-3.6 0 0 0 11.2 0 52.4-7.6 60-247.6 60-247.6s52.4 244 45.2 244c-26.4 0-78.8 0-105.2 0l0 0 154 0c-7.6 0 0 0 11.2 0 48.8-11.2 52.4-187.6 52.4-187.6s22.4 187.6 15.2 187.6c-18.8 0-48.8 0-67.6 0l-3.6 0 90 0C895.6 972 903.2 784.4 824.4 574L824.4 574z' p-id='3680'></path> </svg>");
}

.refreshicon {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg t='1678165398976' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='8327' fill='whitesmoke'><path d='M715.725 241.69l-59.32 73.047 308.7 28.626-92.278-295.168-73.37 90.403a464.297 464.297 0 0 0-275.993-90.403C266.696 48.195 58.5 255.81 58.5 511.862c0 256.118 208.195 463.667 464.963 463.667 192.62 0.169 365.409-118.415 434.524-298.204a66.181 66.181 0 0 0-38.272-85.484c-34.243-13.086-72.622 4.004-85.801 38.206-49.362 128.45-172.785 213.176-310.39 213.058-183.46 0-332.206-148.295-332.206-331.238 0-182.876 148.746-331.177 332.206-331.177 70.195-0.005 136.832 21.755 192.2 61' p-id='8328'></path></svg>");
}

.cancelicon {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg t='1678181488359' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='9284' fill='whitesmoke'><path d='M894.976 574.464q0 78.848-29.696 148.48t-81.408 123.392-121.856 88.064-151.04 41.472q-5.12 1.024-9.216 1.536t-9.216 0.512l-177.152 0q-17.408 0-34.304-6.144t-30.208-16.896-22.016-25.088-8.704-29.696 8.192-29.696 21.504-24.576 29.696-16.384 33.792-6.144l158.72 1.024q54.272 0 102.4-19.968t83.968-53.76 56.32-79.36 20.48-97.792q0-49.152-18.432-92.16t-50.688-76.8-75.264-54.784-93.184-26.112q-2.048 0-2.56 0.512t-2.56 0.512l-162.816 0 0 80.896q0 17.408-13.824 25.6t-44.544-10.24q-8.192-5.12-26.112-17.92t-41.984-30.208-50.688-36.864l-51.2-38.912q-15.36-12.288-26.624-22.016t-11.264-24.064q0-12.288 12.8-25.6t29.184-26.624q18.432-15.36 44.032-35.84t50.688-39.936 45.056-35.328 28.16-22.016q24.576-17.408 39.936-7.168t16.384 30.72l0 81.92 162.816 0q5.12 0 10.752 1.024t10.752 2.048q79.872 8.192 149.504 41.984t121.344 87.552 80.896 123.392 29.184 147.456z' p-id='9285'></path></svg>");
}

.menuicon {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg t='1678182404894' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='10254' fill='whitesmoke'><path d='M64 64h896v128H64V64z m0 768h896v128H64v-128z m0-384h896v128H64V448z' p-id='10255'></path></svg>");
}

.confirmicon {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg t='1678194484127' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='11147' fill='whitesmoke'><path d='M394.792 797.429c-9.71 0-19.443-3.513-27.137-10.622L87.488 527.917c-16.225-14.993-17.224-40.3-2.231-56.525 14.993-16.226 40.3-17.225 56.524-2.231l280.167 258.89c16.225 14.993 17.224 40.3 2.231 56.524-7.883 8.532-18.62 12.854-29.387 12.854z' p-id='11148'></path><path d='M394.808 797.429c-10.555 0-21.088-4.15-28.949-12.391-15.249-15.984-14.652-41.304 1.333-56.553l514.564-490.858c15.983-15.249 41.303-14.652 56.553 1.333 15.248 15.985 14.651 41.305-1.334 56.553l-514.563 490.86c-7.745 7.387-17.684 11.056-27.604 11.056z' p-id='11149'></path></svg>");
}

.totopicon {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg t='1678197492864' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='12097' fill='whitesmoke'><path d='M512 0c-282.819048 0-512 229.180952-512 512s229.180952 512 512 512 512-229.180952 512-512C1024 229.180952 794.819048 0 512 0zM726.552381 533.942857l-192.609524-192.609524 0 436.419048-46.32381 0L487.619048 343.771429l-190.171429 190.171429-34.133333-34.133333 214.552381-214.552381 0 0 34.133333-34.133333 0 0 0 0 34.133333 34.133333 0 0 214.552381 214.552381L726.552381 533.942857z' p-id='12098'></path></svg>");
}

.tobottomicon {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg t='1678199598517' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='1798' fill='whitesmoke'><path d='M848 960H176c-26.6 0-48-21.4-48-48v-48c0-26.6 21.4-48 48-48h672c26.6 0 48 21.4 48 48v48c0 26.6-21.4 48-48 48zM384 112v272H208.6c-35.6 0-53.4 43-28.2 68.2l304.4 304.4c15 15 39.6 15 54.6 0l304.4-304.4c25.2-25.2 7.4-68.2-28.2-68.2H640V112c0-26.6-21.4-48-48-48h-160c-26.6 0-48 21.4-48 48z' p-id='1799'></path></svg>");
}


.itemContainer {
  width: calc(100% - 20px);
}

li.active {
  background-color: @background_active;
}

.logo {
  display: flex;

  .menuicon {
    float: right;
    margin: auto;
  }

  h4 {
    color: @color_normal;
    display: inline-block;
  }
}

.full-width {
  width: calc(100vw);
}

.togglebuttonholder {
  margin-left: auto;
}

#sidebar-bottom {
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 100%-15px;
  height: @inputContainer_height;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: left;
}

#chatgpt-scrollbtn {
  position: absolute;
  bottom: @inputContainer_height + 15px;
  right: 15px;
  z-index: 50;
}

#chatgpt-scrollbtntobottom {
  position: absolute;
  bottom: @inputContainer_height + 55px;
  right: 15px;
  z-index: 50;
}

@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    z-index: 100;
  }
}