.chatgpt-message p {
    margin-bottom: 5px;
}

.chatgpt-message ol, .chatgpt-message  ul {
    padding-inline-start: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}

.chatgpt-message ol li {
    list-style: disc;
}

.chatgpt-message ul li {
    list-style: decimal;
}